
Button {
  margin: 0.5rem;
  margin-top: 3rem;
}

.backbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.onecard {
  margin: 0.3rem;
  text-align: center;
  max-width: 15rem;
  min-width: 10rem;
  align-items: center;
  justify-content: center;
}

.todayCard {
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

h1,h3 {
  text-align: center;
  margin-top: 2rem;
}

body {
  background-color: rgb(202, 230, 245);
}

.link {
  text-align: center;
  margin-top: 2rem;
}
